# Generated
*.xml
*.application
*.exe
*.LIC
*.cache
*.force
*.manifest
*.user
*.suo
*.pdb
*.csv
#*.msi
obj/
[Dd]ebug*/
#[Rr]elease*/
#![Rr]elease*/*.msi
Microsoft.Office.Interop.Excel.dll
Office.dll
Visual Studio 2010/