<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tripoli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
  </startup>
  <appSettings>
    <add key="EarthTimeOrgNamespace" value="https://raw.githubusercontent.com/EARTHTIME/Schema" />
    <add key="EarthTimeOrgCurrentURL" value="http://www.earth-time.org" />
    <add key="EarthTimeOrgTracerListUri" value="https://raw.githubusercontent.com/EARTHTIME/Tracers/master/XML/.tracerList.txt" />
    <add key="EarthTimeOrgCurrentDirectoryForTracerXML" value="https://raw.githubusercontent.com/EARTHTIME/Tracers/master/XML/" />
    <add key="EarthTimeOrgBariumPhosphateICNameListUri" value="http://earth-time.org/projects/upb/public_data/EARTHTIME_BariumPhosphateICModels/XML/.bariumPhosphateICList.txt" />
    <add key="EarthTimeOrgCurrentDirectoryForBariumPhosphateICModelsXML" value="/projects/upb/public_data/EARTHTIME_BariumPhosphateICModels/XML/" />
    <add key="EarthTimeOrgThalliumICNameListUri" value="http://earth-time.org/projects/upb/public_data/EARTHTIME_ThalliumICModels/XML/.thalliumICList.txt" />
    <add key="EarthTimeOrgCurrentDirectoryForThalliumICModelsXML" value="/projects/upb/public_data/EARTHTIME_ThalliumICModels/XML/" />
    <add key="EarthTimeOrgCurrentDirectoryForXSD" value="https://raw.githubusercontent.com/EARTHTIME/Schema/master/" />
    <add key="EarthTimeOrgCurrentDirectoryForXST" value="/projects/upb/public_data/XST/" />
    <add key="EarthTimeOrgChauvenetDocUri" value="http://thevaccinator.com/earth-time.org/public-docs/ChauvenetsCriterion.pdf" />
    <add key="EarthTimeOrgDataDictionaryUri" value="http://thevaccinator.com/earth-time.org/public-docs/DataDictionary1_1.pdf" />
    <add key="EarthTimeOrgWebSite" value="http://www.earth-time.org" />
    <add key="CIRDLESWebSite" value="https://cirdles.org" />
    <add key="CIRDLESonGitHub" value="https://github.com/cirdles" />
	<add key="ReleaseNotesOct2012" value="https://docs.google.com/document/d/18CDAMmabkGiNTBiVkqSaNlW8OOXSr4CHGa5TFg4gKwg/edit"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Tripoli.Properties.Settings>
      <setting name="r18O_16O" serializeAs="String">
        <value>0.002</value>
      </setting>
      <setting name="r238_235g" serializeAs="String">
        <value>137.88</value>
      </setting>
      <setting name="ChauvenetCriterion" serializeAs="String">
        <value>0.5</value>
      </setting>
    </Tripoli.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>